<div class="control field-is-horizontal">
    <input class="input text" placeholder="Apple" el="iName">
    <input class="input amount" placeholder="#" el="iAmount">
    <button class="button is-medium add-btn">
            <i class="icon fas fa-save"></i>
    </button>
</div>