<style>
    .control{
        display: flex;
    }
</style>

<div class="control field-is-horizontal">
    <input class="input text i-input" placeholder="Apple" el="iName">
    <input class="input amount" placeholder="#" el="iAmount">
    <button class="button add-btn" userid={{uId}}>
            <i class="icon fas fa-save"></i>
    </button>
</div>