<style>
  .section{
    padding-top: 0;
  }
</style> 

<div class="section">
    <div class="container logo">
      <a href="/members">
      <img src="/assets/mediumsmall.png" style = "width: 250px" class = "png">
      </a>
    </div>
</div>
