
<div class="modal is-clipped" rId={{id}}>
  <div class="modal-background"></div>
  <div class="modal-content">
      <ol>
          {{#each steps}}
          <li>
              <p>{{step}}</p>
          </li>
          {{/each}}
      </ol>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>