
<div class="modal is-clipped">
  <div class="modal-background"></div>
  <div class="modal-content">
      <ol>
          <li>
              {{step}}
          </li>
      </ol>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>