{{>logo}}
<div class="container">
    <div class="button is-rounded is-large stock-btn">Stock Your Pantry</div>
</div>
<div class="container">
    <div class="button is-rounded is-large explore-btn">Find Recipes</div>
</div>
