
{{>logo}}
<style>
    html, body{
        height: 100%;
    }
</style>
<div class="container-main">
<div class="container stock-ctn">
    <button class="button is-rounded is-large stock-btn">
        <div class="btn-text">Stock Your Pantry</div>
    </button>
</div>
<div class="container explore-ctn">
    <button class="button is-rounded is-large explore-btn">
        <div class="btn-text" >Find Recipes</div>
    </button>
</div>
</div>
