{{>logo}}
<div class="section">
    <div class="columns">
        <div class="column">
            <div class="columns is-centered">
                <div class="column is-4-desktop is-6-tablet">
                    <h2 class="is-size-2">Add a New Item</h2>
                    {{>addItem}}
                </div>
                <div class="column is-4-desktop is-6-tablet">
                    <h2 class="is-size-2">Items in Your Pantry</h2>
                    {{>items}}
                </div>
            </div>
        </div>
    </div>
</div>
