{{>logo}}
<div class="section">
    <div class="columns">
        <div class="column">
            <ul>
                {{#each recipes}}
                <li>
                    <div class="card">
                        <div class="card-image">
                            <img src={{image}}>
                        </div>
                        <div class="card-content">
                            <h4>{{title}}</h4>
                        </div>
                        <footer class="card-footer">
                            <a class="card-footer-item">Show Steps</a>
                        </footer>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="column">

        </div>
    </div>
</div>

{{!-- <ul>
    {{#each recipes}}
    <li>
        <div class="card">
            <div class="card-image">
                <img src={{image}}>
            </div>
            <div class="card-content">
                <h4>{{title}}</h4>
            </div>
            <footer class="card-footer">
                <a class="card-footer-item">Show Steps</a>
            </footer>
        </div>
    </li>
    {{/each}}
</ul> --}}
