<ul>
    {{#each recipes}}
    <li>
        <ul>
            <li>
               {{title}} 
            </li>
            <li>

            </li> 
            <img src={{image}}>
            {{#each steps}}
                {{>step}}
            {{/each}}
        </ul>
    </li>
    {{/each}}
</ul>

<ul>
    {{#each recipes}}
    <li>
        <div class="card">
            <div class="card-image">
                <img src={{image}}>
            </div>
            <div class="card-content">
                <h4>{{title}}</h4>
            </div>
            <footer class="card-footer">
                
            </footer>
        </div>
    </li>
</ul>
