{{>logo}}
<div class="section">
    <div class="columns">
        <div class="column">

        </div>
        <div class="column">
            <ul>
                {{#each recipes}}
                <li>
                    {{>steps}}
                    <div class="card">
                        <div class="card-image">
                            <img src={{image}}>
                        </div>
                        <div class="card-content">
                            <h4>{{title}}</h4>
                        </div>
                        <footer class="card-footer">
                            <a class="card-footer-item" rId={{id}}>Show Instructions</a>
                        </footer>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>


