<button class="button back-btn">
    <i class="far fa-arrow-alt-circle-left is-small icon"></i>
</button>
{{>logo}}
<div class="section">
    <div class="columns">
        <div class="column cards-clm">
            <ul style="display: flex; flex-wrap: wrap; justify-content: center;">
                {{#each recipes}}
                <li class="cards ">
                    {{>steps}}
                    <div class="card">
                        <div class="card-image">
                            <img src={{image}}>
                        </div>
                        <div class="card-content">
                            <h4>{{title}}</h4>
                        </div>
                        <footer class="card-footer">
                            <a class="card-footer-item" rId={{id}}>Show Instructions</a>
                        </footer>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>


