.png, .addbutton, .explorebutton, .addmanually
{
display: block;
margin-left: auto;
margin-right: auto;
}
.addbutton, .explorebutton
{
width: 200px;
 }

.explorebutton
{
background-color: #f9a590;
} 

.addmanually, .addbutton
{
background-color: #8ae6fe;
} 

.fa-3x, .fa-home
{
    color: rgb(206, 100, 100);
}

.amount, .text
{
height: 50px;
}

.text
{
  width: 150px;
  margin-left: 10px; 
  margin-right: 10px;

}

.amount
{width: 50px;
    margin-right: 12px;
}

.fa-home
{
  margin: 5px;
}

.section
{
  padding-top: 0px;
}

.home
{
margin: 15px;
}