.png,
.stock-btn,
.explore-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body,
html {


}
.card{
  margin: 10px;
}

.cards-clm{
  margin-left: 140px;
  margin-right: 140px;
}

.stock-btn,
.explore-btn {
  width: 40%;
  font-family: 'Kodchasan', sans-serif;
  font-size: 2vw !important;
}

.explore-ctn,
.stock-ctn {
  padding: 20px;
}

.explore-btn {
  background-color: #f9a590;

}

.stock-btn {
  background-color: #8ae6fe;
}

.fa-plus-circle {
  color: rgb(206, 100, 100);
}

.fa-minus-circle {
  color: rgb(206, 100, 100);
}

.amount,
.text {
  height: 50px;
}

.text {
  width: 150px;
}

.amount {
  width: 50px;
  margin-right: 10px;
}

.text {
  margin-left: 10px;
  margin-right: 2px;
}

.confirm-btn,
.add-btn {
  display: none;
}

.fa-save {
  color: #3d51c2
}

body {
  background-image: url(../assets/plaid.jpg), url(../assets/plaid.jpg);
  background-repeat: repeat-y;
  background-color: rgb(227, 240, 245);
  background-position: right, left;
}


.btn-text {
  font-size: 100% !important;
  font-size: 5vw;
}

.is-size-2 {
  margin-bottom: 20px;
}

/* .columns {
  background-color: white;
} */
.modal-content {
  background-color: #fff;
  padding: 20px;
}

.card {
  width: 312px;
  margin-bottom: 40px;

}

.back-btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

/* mobile devices */

@media only screen and (max-width: 600px) {
  body {
    background-image: url(../assets/plaid.jpg), url(../assets/plaid.jpg);
    background-repeat: repeat-x;
    background-color: rgb(227, 240, 245);
    background-position: top, bottom;

  }
  .stock-btn,
  .explore-btn {
    width: 70%;
    height: 5rem;
    font-size: 4vw !important;
  }
  .logo{
    margin-top: 110px !important;
  }
}